<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <nav>
        <ul>
            <li><a href="{% url 'category_list' %}">Categories</a></li>
            <li><a href="{% url 'list' %}">Post List</a></li>
            <li><a href="{% url 'favorite_post' %}">Favorite Post</a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>