{% extends "base.html" %}

{% block content %}
   

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>جزئیات دسته‌بندی</title>
</head>
<body>
    <h1>جزئیات دسته‌بندی</h1>
    <h2>{{ detail.category }}</h2>
    <p>توضیحات: {{ detail.bio }}</p>
    {% if detail.parents %}
        <p>دسته‌بندی والد:  <a href="{% url 'category_detail' detail.parents.id %}">{{ detail.parents.category }}</a></p>
    {% endif %}
    
    {% if detail.children.all %}
        <h3>دسته‌بندی‌های فرزند:</h3>
        <ul>
            {% for child in detail.children.all %}
                <li><a href="{% url 'category_detail' child.id %}">{{ child.category }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <h3>پست‌های مرتبط:</h3>
    <ul>
        {% for post in detail.posts.all %}
            <li>
                <a href="{% url 'detail' post.id %}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>


{% endblock content %}