{% extends "base.html" %}

{% block content %}

<h1> deatil of {{post.title}} </h1>
<hr>
 
{% if post.img %}

<img src="{{post.img.url}}">
{% endif %}


    
  <p>  {{post.body}} </p>
    

<br>
<br>
<p> likes: {{likes}} </p>
<p> coments: <br></p>
{% for com in coments %}
{{com.coment_authors}}: 
<p>{{com.body}}   <br> rating:{{com.rating}} </p>

{% endfor %}

<br>
        <p> creat_at: {{ post.creat_at|date:"Y-m-d H:i" }}</p>


{% if post.update_at != post.creat_at %}

        <p> update_date: {{ post.update_at|date:"Y-m-d H:i" }}</p>

{% endif %}
<br>
  <p>   author: {{post.author}}  </p>
{% endblock content %}